# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
altair=5.3.0=pypi_0
attrs=23.2.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
blinker=1.8.2=pypi_0
ca-certificates=2024.6.2=h8857fd0_0
cachetools=5.3.3=pypi_0
certifi=2024.6.2=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
contourpy=1.2.1=pypi_0
cycler=0.12.1=pypi_0
fonttools=4.53.0=pypi_0
frozendict=2.4.4=pypi_0
gitdb=4.0.11=pypi_0
gitpython=3.1.43=pypi_0
html5lib=1.1=pypi_0
idna=3.7=pypi_0
importlib-resources=6.4.0=pypi_0
jinja2=3.1.4=pypi_0
joblib=1.4.2=pypi_0
jsonschema=4.22.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
kiwisolver=1.4.5=pypi_0
libblas=3.9.0=22_osx64_openblas
libcblas=3.9.0=22_osx64_openblas
libcxx=14.0.6=h9765a3e_0
libffi=3.4.4=hecd8cb5_1
libgfortran=5.0.0=13_2_0_h97931a8_3
libgfortran5=13.2.0=h2873a65_3
liblapack=3.9.0=22_osx64_openblas
libopenblas=0.3.27=openmp_hfef2a42_0
libta-lib=0.4.0=h0dc2134_2
llvm-openmp=18.1.8=h15ab845_0
lxml=5.2.2=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.9.0=pypi_0
mdurl=0.1.2=pypi_0
multitasking=0.0.11=pypi_0
ncurses=6.4=hcec6c5f_0
numpy=1.24.0=py39hdfa1d0c_0
openssl=3.3.1=h87427d6_1
packaging=24.1=pypi_0
pandas=2.2.2=pypi_0
peewee=3.17.5=pypi_0
pillow=10.4.0=pypi_0
pip=24.0=py39hecd8cb5_0
platformdirs=4.2.2=pypi_0
plotly=5.22.0=pypi_0
protobuf=5.27.2=pypi_0
pyarrow=16.1.0=pypi_0
pydeck=0.9.1=pypi_0
pygments=2.18.0=pypi_0
pyparsing=3.1.2=pypi_0
python=3.9.19=h5ee71fb_1
python-dateutil=2.9.0.post0=pypi_0
python_abi=3.9=2_cp39
pytz=2024.1=pypi_0
readline=8.2=hca72f7f_0
referencing=0.35.1=pypi_0
requests=2.32.3=pypi_0
rich=13.7.1=pypi_0
rpds-py=0.18.1=pypi_0
scikit-learn=1.5.1=pypi_0
scipy=1.13.1=pypi_0
setuptools=69.5.1=py39hecd8cb5_0
six=1.16.0=pypi_0
smmap=5.0.1=pypi_0
soupsieve=2.5=pypi_0
sqlite=3.45.3=h6c40b1e_0
streamlit=1.36.0=pypi_0
ta-lib=0.4.32=py39h1e1c333_0
tenacity=8.4.2=pypi_0
threadpoolctl=3.5.0=pypi_0
tk=8.6.14=h4d00af3_0
toml=0.10.2=pypi_0
toolz=0.12.1=pypi_0
tornado=6.4.1=pypi_0
typing-extensions=4.12.2=pypi_0
tzdata=2024.1=pypi_0
urllib3=2.2.2=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.43.0=py39hecd8cb5_0
xz=5.4.6=h6c40b1e_1
yfinance=0.2.40=pypi_0
zipp=3.19.2=pypi_0
zlib=1.2.13=h4b97444_1
