joblib==1.4.2
matplotlib==3.9.0
numpy==1.24.0
pandas==2.2.2
pillow==10.4.0
plotly==5.22.0
requests==2.32.3
scikit-learn==1.5.1
scipy==1.13.1
setuptools==69.5.1
streamlit==1.36.0
ta-lib==0.4.32
yfinance==0.2.40
